.grid-container{
    padding: 20px 0;
    background-color: rgba($color: #eee, $alpha: 0.6);

}


.grid-box{
    min-height: 50px;
    background-color: #bbb;
    text-align: center;
    line-height: 50px;
    color: #fff;
}

hr{
    margin: 16px 0;
    border-width: 1px;
}